.content-area {
  max-width: 960px;
  margin: 0px auto;
}

h1.page-title {
  font-family: 'Libre Baskerville', serif;
  font-size: 38px;
  letter-spacing: 0.085em;
  text-shadow: 1px 1px 2px #a5a5a5;
}

/* Site Credits */
#copyright {
  padding: 15px 0;
  font-size: 14px;
}

#site-credits {
  font-size: 12px;
  a {
    &:focus, &:active, &:hover {
      -webkit-animation: rainbow 1s infinite;
      -ms-animation: rainbow 1s infinite;
      -o-animation: rainbow 1s infinite;
      animation: rainbow 1s infinite;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    &:focus, &:active, &:hover {
      color: #00dcff;
      text-decoration: none;
      border: 1px solid;
    }
    border: 1px solid transparent;
    margin-right: -11px;
    padding: 0 4px 0 6px;
    text-transform: uppercase;
    color: #00dcff;
  }
}
